.main-mov-up {
    position: relative;

}

.main-mov-up img {
    position: absolute;

    top: 0;
    left: 0;
    animation: move-up-down infinite alternate 1s;
}

@keyframes move-up-down {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(10px);
    }


}