.main-mov-left {
    position: relative;

}

.main-mov-left img {
    position: absolute;
    bottom: 0%;
    right: 0%;
    animation: move-left-right infinite alternate 1s;
    z-index: -1;
}

@keyframes move-left-right {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(10px);
    }


}