/* start panner */
.bg-panner {
    position: relative;
    background-image: url('./../../Assets/pannerbackground.jpg');
}


.bg-panner::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: url('./../../Assets/waveOfEndBackground.png');
    background-position: bottom;
    background-repeat: no-repeat;
    /* background-size: contain; */
    z-index: 1;



}

.container .row .col-lg-12.containerOicons {
    position: relative;
}

.bg-panner .container .row .iconOfPanner {
    font-size: 48px;
    color: var(--main_color);
    position: absolute;


}

.bg-panner .container .row .iconOfPanner.car1 {
    bottom: 7%;
    right: 42%;

}

.bg-panner .container .row .iconOfPanner.car2 {
    bottom: 39%;
    left: 26%;
}

.bg-panner .container .row .iconOfPanner.hospital {
    right: 0%;
    bottom: -9%;
    transform: rotate(12deg);
}

.bg-panner .container .row .iconOfPanner.plane {
    top: 0%;
    left: 0%;
    transform: rotate(0deg);
    animation: palneMover 5s infinite linear;
}

@keyframes palneMover {
    0% {
        left: 0px;
        top: 0px;
        opacity: 0;

    }

    25% {
        opacity: 100%;
    }

    50% {
        opacity: 100%;
    }

    75% {
        opacity: 100%;

    }

    100% {
        /* transform: rotate(90); */

        left: 100%;
        top: 0px;
        opacity: 0;

    }
}

/* start responsve for icon oin all screen */
/* لجهاز الحاسوب الكبير */
@media only screen and (min-width: 1200px) {

    /* ضع هنا قواعد CSS لشاشة الحاسوب الكبير */
    .bg-panner .container .row .iconOfPanner.hospital {
        right: 9%;
        bottom: -11%;
        transform: rotate(1deg);
    }

    .bg-panner .container .row .iconOfPanner.car2 {
        bottom: -9%;
        left: 26%;
    }
}

/* لجهاز الحاسوب المتوسط */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    /* ضع هنا قواعد CSS لشاشة الحاسوب المتوسط */
    .bg-panner .container .row .iconOfPanner.hospital {
        right: 9%;
        bottom: -11%;
        transform: rotate(1deg);
    }

    .bg-panner .container .row .iconOfPanner.car2 {
        bottom: -7%;
        left: 26%;
    }
}

/* للأجهزة اللوحية */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    /* ضع هنا قواعد CSS للأجهزة اللوحية */
    .bg-panner .container .row .iconOfPanner.car2 {
        bottom: -8%;
        left: 15%;
        transform: rotate(-7deg);
    }
}

/* للهواتف الذكية */
@media only screen and (max-width: 768px) {

    /* ضع هنا قواعد CSS للهواتف الذكية */
    .bg-panner .container .row .iconOfPanner.car2 {
        bottom: 49%;
        left: 2%;
        display: none;
    }

    .bg-panner .container .row .iconOfPanner.hospital {
        right: 6%;
        bottom: 4%;
        transform: rotate(6deg);
    }

    .bg-panner .container .row .iconOfPanner.car1 {
        bottom: 6%;
        right: 45%;
        transform: rotate(-5deg);
    }
}



.panner h2 {

    font-size: 60px;
    font-weight: 700;
    color: var(--text_color);
    letter-spacing: 1px;
    word-spacing: 4px;
}

.panner .Box {
    border: 3px solid var(--btn_color);
    background-color: var(--btn_color);
    border-radius: 12px;
    box-shadow: 1px 1px 13px 0px #565acfa8;
}

.panner .Box a {
    color: #fff !important;
    word-spacing: 5px;
}



.panner .Box a svg {
    padding-right: 8px;
}


/* end panner */